.loader-bg {
  z-index: 999999;
  background: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
}

.loader-p {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  place-self: center;
}

.loader-p:before,
.loader-p:after {
  content: '';
  border: 0.5em solid #15bde3;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader-p:before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}