.table-root {
  height: 100%;
  width: 100%;

  .table-label {
    margin-top: -60px;
    width: fit-content;
    margin-bottom: 20px;
    color: white;
    margin-left: 30px;
    padding: 15px 40px;
    background: #060A1B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px -2px 1px 0px inset #ffffff14;
    font-size: 15px;
    position: relative;
    left: -30px;
  }
}