.chart-label {
  color: white;
  font-size: 15px;
  margin-left: 30px;
  place-self: self-start;
  padding: 15px 10px;
  background: #060A1B;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px -2px 1px 0px inset #ffffff14;
}